[Unit]
Description=Graph node
After=final.target

[Service]
Type=simple
ExecStart=/root/start.sh
User=root
Restart=always

[Install]
WantedBy=final.target
